In [9]:
import numpy as np
import pandas as pd

x = pd.Series(np.random.randn(4))

x.axes

[RangeIndex(start=0, stop=4, step=1)]

In [10]:
x

0   -0.375203
1   -1.082135
2   -0.701193
3   -0.799900
dtype: float64

In [11]:
df = pd.DataFrame(np.random.randint(0, 100, 20).reshape(5, 4), index=["Row1", "Row2", "Row3", "Row4", "Row5"], columns=["Col1", "Col2", "Col3", "Col4"])

In [12]:
df

,Col1,Col2,Col3,Col4
Row1,42,62,18,25
Row2,50,81,13,55
Row3,9,56,83,67
Row4,21,25,33,22
Row5,22,40,55,78

In [16]:
df[0:3]

,Col1,Col2,Col3,Col4
Row1,42,62,18,25
Row2,50,81,13,55
Row3,9,56,83,67

In [17]:
df['Col1'][df.Col1 < 10]

Row3    9
Name: Col1, dtype: int64