In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randint(0, 100, 20).reshape(5, 4), index=["Row1", "Row2", "Row3", "Row4", "Row5"], columns=["Col1", "Col2", "Col3", "Col4"])

In [4]:
df

,Col1,Col2,Col3,Col4
Row1,87,87,87,89
Row2,48,23,39,26
Row3,20,38,58,8
Row4,3,98,54,32
Row5,72,96,61,48

In [5]:
df.loc["Row1"]

Col1    87
Col2    87
Col3    87
Col4    89
Name: Row1, dtype: int64

In [6]:
df.shape

(5, 4)

In [7]:
df.describe()

,Col1,Col2,Col3,Col4
count,5.000000,5.000000,5.000000,5.000000
mean,46.000000,68.400000,59.800000,40.600000
std,34.949964,35.246276,17.398276,30.607189
min,3.000000,23.000000,39.000000,8.000000
25%,20.000000,38.000000,54.000000,26.000000
50%,48.000000,87.000000,58.000000,32.000000
75%,72.000000,96.000000,61.000000,48.000000
max,87.000000,98.000000,87.000000,89.000000

In [8]:
df.head(2)

,Col1,Col2,Col3,Col4
Row1,87,87,87,89
Row2,48,23,39,26

In [9]:
# loc and iloc

type(df.loc['Row1'])

pandas.core.series.Series

In [10]:
# series vs dataframe

In [11]:
np.array(df.loc['Row1']).shape

(4,)

In [12]:
df.loc['Row1'].shape

(4,)

In [13]:
# iloc indexing is similar to np array indexing

In [14]:
df

,Col1,Col2,Col3,Col4
Row1,87,87,87,89
Row2,48,23,39,26
Row3,20,38,58,8
Row4,3,98,54,32
Row5,72,96,61,48

In [15]:
df.iloc[0:2,0:2]

,Col1,Col2
Row1,87,87
Row2,48,23

In [19]:
df.loc[:, ("Col1", "Col2")]

,Col1,Col2
Row1,87,87
Row2,48,23
Row3,20,38
Row4,3,98
Row5,72,96

In [25]:
# df.iloc[0:2,0] <-- output series
df.iloc[0:2,0:1] #<-- output series

,Col1
Row1,66
Row2,60

In [26]:
df.iloc[0:2,0:2].values

array([[66,  1],
       [60, 84]])

In [27]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [29]:
df['Col1'].value_counts()

44    1
66    1
74    1
60    1
42    1
Name: Col1, dtype: int64

In [31]:
df['Col1'].shape

(5,)

In [33]:
df['Col1'].unique()

array([66, 60, 74, 42, 44])

In [35]:
df[['Col1','Col2']]

,Col1,Col2
Row1,66,1
Row2,60,84
Row3,74,94
Row4,42,70
Row5,44,88

In [36]:
df.info

<bound method DataFrame.info of       Col1  Col2  Col3  Col4
Row1    66     1    65    34
Row2    60    84    49    89
Row3    74    94    58    35
Row4    42    70    80    68
Row5    44    88    70    71>