In [2]:
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [6]:
x = pd.Series([1,2,3,4,5])
print(x, type(x))

0    1
1    2
2    3
3    4
4    5
dtype: int64 <class 'pandas.core.series.Series'>

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [9]:
y = x.tolist()
print(y, type(y))

[1, 2, 3, 4, 5] <class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [16]:
ds1 = pd.Series([2, 4, 1, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2     6
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2   -4
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2     5
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    0.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.

In [17]:
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
0     True
1     True
2    False
3     True
4     True
dtype: bool
Less than:
0    False
1    False
2     True
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [18]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [19]:
import numpy as np

lst = [3,55,4,1,56,90]

arr = np.array(lst)

In [20]:
arr

array([ 3, 55,  4,  1, 56, 90])

In [21]:
pd.Series(arr)

0     3
1    55
2     4
3     1
4    56
5    90
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [24]:
srs = pd.Series([2,3,4,1,5,'Num',3])
pd.to_numeric(srs, errors='coerce')

0    2.0
1    3.0
2    4.0
3    1.0
4    5.0
5    NaN
6    3.0
dtype: float64