In [3]:
from io import StringIO, BytesIO
import pandas as pd

In [2]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
        'a,b,2\n'
        'c,d,3')

StringIO(data)

In [4]:
df = pd.read_csv(StringIO(data))
df

,col1,col2,col3
0,x,y,1
1,a,b,2
2,c,d,3

In [5]:
df = pd.read_csv(StringIO(data), usecols=['col1', 'col2'])

In [6]:
df

,col1,col2
0,x,y
1,a,b
2,c,d

In [9]:
df = pd.read_csv(StringIO(data), usecols = lambda x: x.upper() in ['COL1', 'COL2'])

In [10]:
df

,col1,col2
0,x,y
1,a,b
2,c,d