In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Iris.csv', index_col='Id')

In [6]:
df.head(3)

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
Id,,,,,
1,5.1,3.5,1.4,0.2,Iris-setosa
2,4.9,3.0,1.4,0.2,Iris-setosa
3,4.7,3.2,1.3,0.2,Iris-setosa

In [9]:
df.loc[df.SepalLengthCm >= 3.5, ['SepalLengthCm', 'Species']].value_counts(normalize=True)

SepalLengthCm  Species
5.1            Iris-setosa        0.053333
5.0            Iris-setosa        0.053333
6.3            Iris-virginica     0.040000
5.5            Iris-versicolor    0.033333
6.7            Iris-virginica     0.033333
5.6            Iris-versicolor    0.033333
5.7            Iris-versicolor    0.033333
6.4            Iris-virginica     0.033333
4.8            Iris-setosa        0.033333
5.4            Iris-setosa        0.033333
4.9            Iris-setosa        0.026667
6.5            Iris-virginica     0.026667
4.6            Iris-setosa        0.026667
7.7            Iris-virginica     0.026667
6.0            Iris-versicolor    0.026667
6.1            Iris-versicolor    0.026667
6.7            Iris-versicolor    0.020000
6.9            Iris-virginica     0.020000
5.8            Iris-versicolor    0.020000
               Iris-virginica     0.020000
7.2            Iris-virginica     0.020000
6.3            Iris-versicolor    0.020000
5.2            Iris-setosa        0.020000
4.4            Iris-setosa        0.020000
6.2            Iris-versicolor    0.013333
6.1            Iris-virginica     0.013333
6.2            Iris-virginica     0.013333
6.0            Iris-virginica     0.013333
6.4            Iris-versicolor    0.013333
5.9            Iris-versicolor    0.013333
6.8            Iris-virginica     0.013333
5.7            Iris-setosa        0.013333
5.5            Iris-setosa        0.013333
5.0            Iris-versicolor    0.013333
4.7            Iris-setosa        0.013333
6.6            Iris-versicolor    0.013333
6.8            Iris-versicolor    0.006667
6.9            Iris-versicolor    0.006667
7.0            Iris-versicolor    0.006667
7.1            Iris-virginica     0.006667
7.3            Iris-virginica     0.006667
7.4            Iris-virginica     0.006667
7.6            Iris-virginica     0.006667
4.3            Iris-setosa        0.006667
6.5            Iris-versicolor    0.006667
5.9            Iris-virginica     0.006667
5.8            Iris-setosa        0.006667
5.7            Iris-virginica     0.006667
5.6            Iris-virginica     0.006667
5.4            Iris-versicolor    0.006667
5.3            Iris-setosa        0.006667
5.2            Iris-versicolor    0.006667
5.1            Iris-versicolor    0.006667
4.9            Iris-virginica     0.006667
               Iris-versicolor    0.006667
4.5            Iris-setosa        0.006667
7.9            Iris-virginica     0.006667
dtype: float64

In [15]:
pd.options.display.float_format = '{:,.2f}'.format
tst = df.loc[:, ['Species', 'SepalLengthCm', 'SepalWidthCm']].groupby(by='Species').agg(['mean', 'median'])

In [21]:
tst.sort_values(by=[('SepalLengthCm', 'median'), ('SepalWidthCm', 'mean')], ascending=[False, False])

In [22]:
tst

In [23]:
tst['sss'] = tst.loc[:, ('SepalWidthCm', 'median')].apply(lambda x: x/2)

In [28]:
tst.loc['Iris-setosa']

SepalLengthCm  mean     5.01
               median   5.00
SepalWidthCm   mean     3.42
               median   3.40
sss                     1.70
Name: Iris-setosa, dtype: float64

In [26]:
tst.loc['Iris-setosa'].loc['SepalLengthCm']

mean     5.01
median   5.00
Name: Iris-setosa, dtype: float64

In [32]:
tst.loc['Iris-setosa'].loc['SepalLengthCm'].loc['mean'].round(3)

5.006

In [33]:
def tstfnc(x):
    return x/4

tst['sss'] = tst.loc[:, ('SepalWidthCm', 'median')].apply(tstfnc)

In [34]:
tst