In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'col1': ['a', 'b', 'c'], 'col2': [[10, 30], [25, 34], [55, 67]]})

In [7]:
df

,col1,col2
0,a,"[10, 30]"
1,b,"[25, 34]"
2,c,"[55, 67]"

In [10]:
df['col2'].apply(pd.Series)

,0,1
0,10,30
1,25,34
2,55,67

In [13]:
pd.Series([56, 23, 13])

0    56
1    23
2    13
dtype: int64

In [ ]:
pd.concat