YT Charming Data -- Excel Dashboard with Python

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('vgsales.csv')

In [3]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [4]:
# jp sales by publisher

In [7]:
Japan = df.loc[:, ('Publisher', 'JP_Sales')]

In [8]:
Japan

,Publisher,JP_Sales
0,Nintendo,3.77
1,Nintendo,6.81
2,Nintendo,3.79
3,Nintendo,3.28
4,Nintendo,10.22
...,...,...
16593,Kemco,0.00
16594,Infogrames,0.00
16595,Activision,0.00
16596,7G//AMES,0.00
16597,Wanadoo,0.00

In [17]:
x = Japan.groupby('Publisher').agg('sum').sort_values(by=['JP_Sales'], ascending=False)

In [23]:
x

,JP_Sales
Publisher,
Nintendo,455.42
Namco Bandai Games,127.07
Konami Digital Entertainment,91.30
Sony Computer Entertainment,74.10
Capcom,68.08
...,...
Jester Interactive,0.00
Jack of All Games,0.00
Ivolgamus,0.00
Introversion Software,0.00
responDESIGN,0.00

In [25]:
type(x.JP_Sales.round(decimals=1))

pandas.core.series.Series

In [27]:
x = x.round(decimals=1)

In [28]:
x

,JP_Sales
Publisher,
Nintendo,455.4
Namco Bandai Games,127.1
Konami Digital Entertainment,91.3
Sony Computer Entertainment,74.1
Capcom,68.1
...,...
Jester Interactive,0.0
Jack of All Games,0.0
Ivolgamus,0.0
Introversion Software,0.0
responDESIGN,0.0

In [36]:
dft = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [37]:
dft

,A,B,C,D,E
0,foo,one,small,1,2
1,foo,one,large,2,4
2,foo,one,large,2,5
3,foo,two,small,3,5
4,foo,two,small,3,6
5,bar,one,large,4,6
6,bar,one,small,5,8
7,bar,two,small,6,9
8,bar,two,large,7,9

In [39]:
dft.pivot_table(values=['B','C'], index=['A'], columns=['D'], aggfunc = 'sum')